/* Styles */
body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  h2 {
    color: rgb(54, 219, 20);
  }
  p {
    color: red;
  }
